body{
  font-family: 'Titillium Web', sans-serif;
  color: #231f20;
}
p{
  color: #231f20;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #003e59;
}
/*=============================================
=            common            =
=============================================*/

.bb{
  border-bottom: 1px solid #fff;
}
.gray-background{
  background-color: #f5f5f5;
}
.darkgray-background{
  background-color: #e3dfdf;
}
.orange-background{
  background-color: #fff;
  position: relative;
}
@media (min-width: 768px){
  .left-padding{
    padding-left: 30px;
  }
}
@media (min-width: 1200px){
  .left-padding{
    padding-left: 125px;
  }
}
.icon-font{
  font-size: 55px;
}
.box-hover{
  transition: all .4s ease-in-out;
}
.box-hover:hover{
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(170, 170, 170, 0.14);
}
.box-hover:hover h3,
.box-hover:hover i{
  color: #003e59;
}

/* .overview-img{
  height: 100%;
  object-fit: cover;
} */
@media (min-width: 568px){
  .height{
    height: 100%;
    object-fit: cover;
  }
}

.arrow1::before,
.arrow2::before,
.arrow3::before,
.arrow4::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  top: -20px;
  left: 20%;
  transform: rotate(-45deg);
}
@media (min-width: 568px){
  .arrow1::before,
  .arrow2::before,
  .arrow3::before,
  .arrow4::before{
    content: "";
    width: 35px;
    height: 35px;
  }
  .arrow1::before,
  .arrow3::before{
    content: "";
    left: -17px;
    top: 20%;
  }
  .arrow2::before,
  .arrow4::before{
    content: "";
   left: unset;
   right: -17px;
    top: 20%;
  }
}
@media (min-width:768px){
  .arrow2::before{
    content: "";
    left: -17px;
  }
  .arrow3::before,
  .arrow4::before{
    content: "";
    left: unset;
    right: -17px;
  }
}
.learn, .connect, .discover, .network{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.learn{  background-image: url('../img/learn.jpg');}
.connect{  background-image: url('../img/connect.jpg');}
.discover{  background-image: url('../img/discover.jpg');}
.network{  background-image: url('../img/network.jpg');}
@media (min-width:568px){
  .learn img, .connect img, .discover img, .network img{
    visibility: hidden;
  }
}

.box-border{
  border: solid 1px #ccc;
  border-radius: 5px;
}
.icon-size{
  font-size: 44px;
}
/* .font-size{
  font-size: 20px;
} */
.box-border:hover{
  color: #003e59;
  border-color: #003e59;
}
.image{
  width: 100%;
}
/*=====  End of common  ======*/


/*=============================================
=            button            =
=============================================*/

.button{
  background-color: #003e59;
  color: #fff;
  display: block;
  /* flex-basis: 50%; */
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 30px;
  transition: all .4s ease-in-out;
}
@media (max-width: 577px){
  .button{
    /* width: 90%; */
    margin-bottom: 10px;
  }
}
@media (min-width: 568px) and (max-width: 991px){
  .button{
    font-size: 14px;
  }
}
.button:hover{
  color: #003e59;
  background-color: #fff;
  text-decoration: none;
}

.button-class{
  background-color: #003e59;
  color: #fff;
  display: inline-block;
  flex-basis: 50%;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 50px;
  transition: all .4s ease-in-out;
  border: solid 1px transparent;

}

.button-class:hover{
  color: #003e59;
  background-color: #fff;
  text-decoration: none;
  border: solid 1px #003e59;
}



/*=====  End of button  ======*/


/*=============================================
=            title            =
=============================================*/

.title{
  position: relative;
  font-weight: 700;
 
}
.title span{
  position: absolute;
  display: block;
  width: 65px;
  height: 5px;
  background-color: #003e59;
  left: 0;
  bottom: 0;
}
.sub-title{
  color: #00a79d;
}
/*=====  End of title  ======*/



/*=============================================
=            header            =
=============================================*/

.header {
	display: none;
	position: fixed;
	width: 100%;
	font-size: 1em;
	color: #fff;
	/* set animation */
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  z-index: 9999;
}

.header.sticky {
  display: block;
	background: #fff;
  text-align: left;
}
.fixed-top{
  box-shadow: 0px 3px 11px -1px rgba(120, 114, 114, 0.13);
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #003e59;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #003e59;
  text-decoration: none;
  background-color: transparent;
}

/*=====  End of header  ======*/


/*=============================================
=            banner            =
=============================================*/

.banner{
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  background-position: center;
  background-attachment: fixed;
}
.banner-content{
  background-color: rgba(0,0,0,0.5);

}
@media(min-width: 768px){
  .banner{
    /* background-position: bottom; */
    /* background-size: 126%; */
    height: 100vh;
    min-height: 700px;
    background-position: unset;
  }
  .banner-content{
    height: 100vh;
    min-height: 700px;
    /* padding-top: 85px !important; */
  }
}
.sponsor-banner{
  background-image: url('../img/why-sponsors/sponsor_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
}
.attend-banner{
  background-image: url('../img/why-attend/attend_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
}
.logo{
  border-bottom: 1px solid #fff;

}


.count-bg{
  /* background-color: #003e59; */
  background-repeat: no-repeat;
  background-size: cover;
}
.counting-number{position: relative; margin: 10px 0;text-align: center;}
.counting-number p{
  color: #000;
  font-size: 20px;
}
.counting-number span{
  font-weight: bold;
  /* font-size: 35px; */
}

.counting-number> div{
  /* padding: 0 30px; */
  font-size: 45px;
  color: #003e59;
}
.counting-number> div:before{
  content: "";
  color: #003e59;  
  width: 1px;  
  height: 40%;  
  position: absolute;  
  right: 0;  
  background: #003e59;  
  top: 25%;
  /* margin-right: 20px; */
}
.counting-number:last-child> div::before{
  content: "";
  display: none;
}
@media (max-width:991px){
  .counting-number p{
    font-size: 14px;
  }
  .counting-number span{
    font-size: 16px;
  }
  
  .counting-number> div{
    padding: 0px;
    font-size: 16px
  }
  .counting-number> div:before{
    content: "";
    margin-right: 0px;
    margin-top: 0;
    /* height: 80%; */
  }
}
@media (max-width:568px){
  .line>div:before{
    content: "";
    display: none;
  }
}
/*=====  End of banner  ======*/


/*=============================================
=            overview            =
=============================================*/

.red-background{
  background-color: #003e59;
}

/*=====  End of overview  ======*/


/*=============================================
=            journey so far            =
=============================================*/

.numInfo{
	font-size: 2em;
	color: #003e59;
	font-weight: 700;
	text-transform: uppercase;
}


/*=====  End of journey so far  ======*/

/*=============================================
=            mice india            =
=============================================*/

.mice-india-bg{
  background-image: url('../img/mice_india.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*=====  End of mice india  ======*/




/*=============================================
=            speaker carousel            =
=============================================*/

.speaker-hover{
  position: relative;
}

.speaker-hover a{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 35px;
  color: #fff
}
@media (max-width: 567px){
  .speaker-hover a{
    top: 5px;
    right: 10px;
    font-size: 22px;
  }
  /* .passpk{text-align: left} */
  .passpk h5{font-size: 14px;}
  .passpk p{font-size: 11px}
}

/*=====  End of speakers  ======*/


/*=============================================
=            tab section            =
=============================================*/

.form-details h3{
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;
}
.form-details ul{
  padding-left: 40px;
  margin-top: 20px;
  line-height: 26px
}


/*----- Tabs -----*/
.tabs {
  margin-top:40px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}
.tab-links{
  border-bottom: solid 1px #003e59;
  padding-left: 0;
  display: inline-block;
}
.tab-links li {
	margin:0px 10px 0 0;
	float:left;
  list-style:none;
  font-family: 'Roboto Condensed', sans-serif;
}
.tab-links li:last-child {
	margin: 0;
}

.tab-links a {
	padding:9px 45px;
  display:inline-block;
  background: #fff;
	font-size:22px;
	font-weight:600;
	color:#003e59;
  transition:all linear 0.15s;
  border: solid 1px #003e59;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: transparent;
}
@media (max-width: 767px){
  .tab-links a{
    padding: 10px;
    font-size: 16px;
  }
}
@media (max-width: 567px){
  .tab-links a{
    font-size: 12px;
  }
}

.tab-links a:hover {
  background: #003e59;
  color:#fff;
  text-decoration: none;
}

.tab-links li.active a, .tab-links li.active a:hover {
  background: #003e59;
  color:#fff;
  text-decoration: none;
}


/*----- Content of Tabs -----*/
.tab-content {
  margin-top: 40px;
  margin-bottom: 60px;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

.tab-content ul {
list-style: none;
line-height: 30px;
}
.home-page-tab ul li:before {
  display: inline-block;
  margin-left: -1.3em;
  width: 1.6em;
  color: #003e59;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";

}
/*=====  End of tab section  ======*/


/*=============================================
=            testimonial            =
=============================================*/
.bg-testimonial{
  background-color: #fff;
  margin-top: 54px;
  border-radius: 8px;
  position: relative;
  min-height: 395px;
  box-shadow: 0 6px 25px 0 rgba(114, 114, 114, 0.16);
  transition: all .5s ease-in-out;
  margin-bottom: 20px;
}
.bg-testimonial:hover{
  box-shadow: 1px 0px 5px -2px #3d3c3d;
  transition: all .5s ease-in-out;
}

.name-testi h3{
  font-size: 20px;
}
.name-testi span{
  display: block;
  font-size: 14px;
}
.bg-testimonial p{
  margin-top: 15px;
  padding-bottom: 45px;
  margin-bottom: 45px;
}
.bg-testimonial img{
  position: absolute;
  right: 20px;
  bottom: 36px;
  width: 120px !important;
}
.video-gallery iframe{
  width: 100%;
  /* height: 100%; */
}
/*=====  End of testimonial  ======*/

/*=============================================
=            request            =
=============================================*/

.request{
  background-image: url("../img/contact-bg.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

/*=====  End of request  ======*/




/*=============================================
=            subscribe            =
=============================================*/

.subscribe input{
  padding: 10px 5px;
  background-color: #f0f0f0;
  border:solid 1px #f0f0f0;
}
.subscribe input:hover,
.subscribe input:focus{
  border:solid 1px #cbcbcb;
}
.subscribe button{
  padding: 10px 15px;
  border: solid 1px #003e59;
  background-color: #003e59;
  margin-left: -3px;
  color: #fff;
}


/* social-icons */

.social-icons a{
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  display: block;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  line-height: 30px;
  transition: .4s;
}
.social-icons a:hover{
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.social-icons a:first-child:hover{
 background-color: #55acee;
}
.social-icons a:nth-child(2):hover{
  background-color: #3b5999;
 }
 .social-icons a:nth-child(3):hover{
  background-color:  #833ab4;
 }
 .social-icons a:last-child:hover{
  background-color:  #007bb5;
 }
/*=====  End of subscribe  ======*/




/*=============================================
=            video            =
=============================================*/
.video a img,
.video i,
.video .icon-play-button-hover{
  transition: all .4s ease-in-out;
}
.video a{
  overflow: hidden;
  display: block;
  position: relative;
}

.video i{
  position: absolute;
  color: #003e59;
  font-size: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video a:hover img{
  transform: scale(1.1);
}
.video a .icon-play-button-hover{
  display: none;
  color: #003e59;
  background-color: #fff;
  border-radius: 50%;
  transition: all .4s ease-in-out;
}
.video a:hover .icon-play-button{
  display: none;
}

.video a:hover .icon-play-button-hover{
  display: block;
}
iframe{
  width: 100%;
}
/*=====  End of video  ======*/



#accordion-style-1 h1,
#accordion-style-1 a{
    color:#000;
}
#accordion-style-1 .btn-link {
  font-weight: 400;
  color: #3e3f40;
  background-color: transparent;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: bold;
  padding-left: 25px;
}

#accordion-style-1 .card-body {
  border-top: 2px solid #003e59;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
  display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
  background: #007b5e;
  padding: 13px 11px;
  color: #ffffff;
  width: 35px;
  height: 41px;
  position: absolute;
  left: -1px;
  top: 10px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display:block;
}


/*=============================================
=            inner-page            =
=============================================*/
.title-color{
  color: #003e59;
}

/*----------  why sponsor  ----------*/
.card-shadow{
  -webkit-box-shadow: 0 6px 25px 0 rgba(114, 114, 114, 0.16);
  -moz-box-shadow: 0 6px 25px 0 rgba(114, 114, 114, 0.16);
  box-shadow: 0 6px 25px 0 rgba(114, 114, 114, 0.16);
  transition: all .5s ease-in-out;
  border: transparent
}
.card-shadow:hover{
  box-shadow: 1px 0px 5px -2px #3d3c3d;
  transition: all .5s ease-in-out;
}


/*----------  why attend  ----------*/

.points li{
  position: relative;
  list-style: none;
  margin-bottom: 12px;
}
.points li:before{
  content: "";
  width: 10px;
  height: 10px;
  background-color: #003e59;
  position: absolute;
  margin-left: -20px;
  top: 8px;  
  transform: rotate(-45deg);
}

/*=====  End of inner-page  ======*/

